.container {
  margin: 0 auto;
  width: 85em;
}

.totalProducts {
  margin: 3em auto;

  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.title {
  font-size: 1.2rem;
  font-weight: 550;
}

.totalCount {
  font-size: 2rem;
  font-weight: 600;
  background-color: #e63946;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 10px;
}

.Products {
  display: flex;
  gap: 1.5em;
  flex-wrap: wrap;
}
