.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1em;
  border-radius: 0.5em;

}

.Image {
  width: 2em;
  height: 2em;
  object-fit: cover;
}

.Title {
  font-size: 0.9em;
  font-weight: 500;
}

/* .Selected{
    margin-top: 0.5em;
    width: 1.5em;    
    border-bottom: 3px solid rgb(0, 0, 0);
}

.UnSelected{
    margin-top: 0.5em;
    width: 1.5em;    
    border-bottom: 3px solid rgb(255, 255, 255);
} */

.Container:hover {
  background-color: rgb(240, 238, 238);
}
